<!DOCTYPE html>
<html>
<head>
<title>AuthTestIframeServlet</title>
$webResourceManager.requireResource("com.atlassian.applinks.applinks-plugin:applinks-public")
</head>
<body>

<h2>Authentication Test in iframe</h2>

<div style="float:left; width: 550px; margin-right: 40px">
    <iframe id="myframe" src="auth-test?$queryParams" width="550" height="500">
    </iframe>
</div>

<p>
    This encloses the authentication test servlet in an iframe to simulate a gadget context.
</p>
<p>
    The system time is <span id="time">$time</span> (this should not change when iframe is refreshed).
</p>

</body>
</html>
