<!DOCTYPE html>
<html>
    <head>
        <title>${i18n.getText("applinks.xsrf.title")}</title>
         ${webResources.get()}
    </head>
    <body>
        #parse("/com/atlassian/applinks/core/common/_xsrf_token_element.vm")
        <div class="aui-message aui-message-warning">
            <p class="title">
                <strong id="xsrf-token-missing-header">${i18n.getText("applinks.xsrf.token.missing")}</strong>
            </p>
            <p>${i18n.getText("applinks.xsrf.description.1")}</p>
            <p>${i18n.getText("applinks.xsrf.description.2")}</p>
        </div>
<form class="aui" action="$requestUrl" method="$requestMethod">
    <p>${i18n.getText("applinks.xsrf.retry")}</p>
    #foreach ($paramName in $parameterMap.keySet())
        #if ($paramName != $xsrftokenParamName)
            #foreach ($paramValue in $parameterMap.get($paramName))
                <input name="$paramName" type="hidden" value="$paramValue"/>
            #end
        #end
    #end
    #xsrfTokenElement($xsrftokenParamValue)
    <input type="submit" id="xsrf-retry" value="${i18n.getText("applinks.xsrf.retry.button")}"/>
</form>
</body>
</html>
