div .local-app-image {
    background-image: url(../../download/resources/com.atlassian.applinks.applinks-plugin:applinks-images/images/config/logos/100bamboo.png);
}

.applinks-entity-header > ul {
    top: -10px;
}